# Calendar integration
CALENDAR_API_KEY=
CALENDAR_CLIENT_EMAIL=
CALENDAR_PRIVATE_KEY=
# GitHub Comments
VITE_GITHUB_REPO=
VITE_GITHUB_TOKEN=

# FlameCoin configuration
VITE_CONTRACT_ADDRESS=
VITE_SCROLL_SEPOLIA_RPC=
VITE_ETHERSCAN_API_KEY=
VITE_ETHERSCAN_API_URL=
VITE_EXPLORER_BASE_URL=
