@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background: radial-gradient(circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      #ff66ff, #a855f7, #6366f1, #3b82f6);
  background-attachment: fixed;
  transition: background 0.1s ease-out;
}

html.dark body {
  background: radial-gradient(
      circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      #1f2937,
      #374151,
      #4b5563,
      #6b7280
  );
}
