@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background: #181a1b; /* carbon.800 */
  color: #000;
  background-attachment: fixed;
  transition: background 0.1s ease-out;
}

html.dark body {
  background: #181a1b; /* carbon.800 */
  color: #000 !important;
}
